@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.heading {
  position: absolute;
  top: 32%;
  left: 22%;
  z-index: 1;
  font-size: 5rem;
  color: white;
  letter-spacing: 2px;
}

.sub-heading {
  font-family: "Dancing Script", cursive;
  position: absolute;
  font-weight: 300;
  z-index: 1;
  font-size: 1.6rem;
  color: wheat;
  top: 47%;
  left: 30%;
  letter-spacing: 0.5px;
}

.hero-buttons {
  position: absolute;
  top: 58%;
  left: 31.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  width: 15rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: orange;
  padding: 0.5rem;
  border: none;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.hero-button-2 {
  background-color: rgba(255, 255, 255, 0.3);
  color: orange;
}

.hero-buttons button:hover {
  background-color: rgb(252, 178, 40);
}

.hero-buttons button:nth-child(2):hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(252, 178, 40);
}
