.card-layout {
  margin: 3rem auto;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-auto-rows: auto;
  column-gap: 3rem;
  justify-content: center;
  align-items: start;
}

.card-layout:nth-last-child() {
  margin-bottom: 3rem;
}
